body {
    font-family: Arial, sans-serif;
}
#main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 90vh;
    align-items: flex-start; /* Aligns the items to the top */
    margin: 20px;
}


#classroom {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Allows spacing between rows */
}
.row {
    display: flex;
    gap: 10px; /* Space between desks in the same row */
    min-height: 110px; /* Ensures rows have consistent spacing */
}
.desk {
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    position: relative;
}
.space {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    position: relative;
}
/*#students {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}*/

/* Student list styling */
/*#student-list {*/
#students {
    flex: 1; /* Allows it to take up available space */
    display: grid;
    margin-top: 120px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Flexible number of students per row */
    gap: 10px;
    width: 30%;
    height: 30vh;
    overflow-y: auto; /* Allows scrolling if list is too long */
    background-color: #f0f8ff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.student {
    padding: 5px;
    background-color: #8cbed6;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: move;
    white-space: pre-line;
}
#export-button {
    margin-top: 20px;
}
.teacher-desk {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: default; /* No drag for teacher's desk */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; /* Space between teacher's desk and rows */
}

.empty-icon-btn {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    background-color: #8cbed6;
    color: white;
    border: none;
    border-radius: 5px;
}


